#Ignore R Project files
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

#Ignore MacOS Finder file
.DS_Store

# Rproject files
*.Rproj
*_Complete.Rmd
*_KEY.Rmd
*_KEY.pdf
*_FIXED.Rmd
*_TOPOST/
*_TOPOST.Rmd
*_TODELETE.Rmd
*_NOPOST.xlsx
*_NOPOST.Rmd
